# Binary files and outputs
**/*.vtk
**/*.png
**/*.json
**/*.zip
**/*.tar.gz
**/*.npy
**/*.npz

# Python cache files
**/__pycache__/
**/*.py[cod]
**/*$py.class

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints
# Jupyter Notebook outputs
**/*.ipynb_checkpoints


# Simulation output directories
aneurysm_simulation_results/